In [1]:
!pip install psycopg2
import csv
from io import StringIO
import time

import pandas as pd
from sqlalchemy import create_engine

Requirement already satisfied: psycopg2 in c:\users\zhrac\anaconda3\lib\site-packages (2.9.5)

In [73]:
def connect_engine(engine, sql):
    # Return SQL query as a pandas dataframe
    #Reduced redundancy so we didnt have to copy and paste this code within every single statement
    with engine.connect() as conn:
        # Set 1 minute statement timeout (units are milliseconds)
        conn.execute("SET statement_timeout = 60000;")
        df = pd.read_sql(sql, conn)
    
    return df
    
def find_author(engine, name):
    #SQL query gathering all of the information for a specific author
    #Input is limited by 5, but will change upon further testing
    sql = f'''
        SELECT *
        FROM "sentimenttest"
        WHERE author = '{name}'
        LIMIT 5;
    '''
    
    return connect_engine(engine, sql)

def find_word(engine,word):
    #SQL query gathering all of the information for a specific word
    sql = f'''
        SELECT *
        FROM "sentimenttest"
        WHERE aspect = '{word}' AND aspect IS NOT NULL
        LIMIT 5;
    '''
    
    return connect_engine(engine, sql)

def avg_sentiment(engine, author):
    #Gathers the average sentiment for a word where it appears everywhere (for all authors)
    if author == 'all':
        sql = f'''
        SELECT author, aspect, AVG(confidence) as avg_sentiment
        FROM "sentimenttest"
        WHERE aspect IS NOT NULL
        GROUP BY aspect
        LIMIT 5;
        
        '''
    #Gathers the average sentiment for a word where it appears within a specific author's text (each author uses different syntax)
    else:
        sql = f'''
        SELECT author, aspect, AVG(confidence) as avg_sentiment
        FROM "sentimenttest"
        WHERE author = '{author}' AND aspect IS NOT NULL
        GROUP BY aspect, author
        ORDER BY aspect DESC
        LIMIT 5;
        '''

    # Return SQL query as a pandas dataframe
    return connect_engine(engine, sql)


def books_per_author(engine):
    #Helpful statistic when comparing who wrote the most books and which words can appear most
    sql = f'''
        SELECT author, COUNT(author) AS num_books, COUNT(aspect) AS num_words
        FROM "sentimenttest"
        GROUP BY author
        ORDER BY num_books DESC, num_words DESC
    '''
    
    # Return SQL query as a pandas dataframe
    return connect_engine(engine, sql)

def highest_words(engine, author):
    #Counts the number of words to see which appear the most (specific or all)
    if author == 'all':
        sql = f'''
            SELECT aspect, COUNT(aspect) AS num_words
            FROM "sentimenttest"
            WHERE aspect IS NOT NULL
            GROUP BY aspect
            ORDER BY num_words DESC
        '''
    else:
        sql = f'''
            SELECT aspect, COUNT(aspect) AS num_words
            FROM "sentimenttest"
            WHERE author = '{author}' AND aspect IS NOT NULL
            GROUP BY aspect, author
            ORDER BY num_words DESC
        '''

    # Return SQL query as a pandas dataframe
    return connect_engine(engine, sql)

In [74]:
PG_STRING = 'postgresql://austinstein:v2_3ym92_V72h8UTXcH9WzSBC3tiMmjd@db.bit.io:5432/austinstein/greekandlatintexts'
engine = create_engine(PG_STRING, pool_pre_ping=True)

In [75]:
# SQL for querying an entire table
highest_words(engine, 'Aristotle')

                                               aspect  num_words
0                                                   [          3
1   τουτοις δε τοις παθημασι και ταυταις ταις διαφ...          1
2                                        εκ δε τουτων          1
3                                       αλφιτον υδατι          1
4                 επει δε περι των αφανων τη αισθησει          1
5                                   το ωρισμενον σωμα          1
6                     του τη θεσει μεν δευτερου τοπου          1
7                                   [ τ ο υ τ ω ν δ ε          1
8                                   [ λ ο ι π ο ν δ ’          1
9                                    μετεωρολογικων α          1
10         των δε παθητικων , του υγρου και του ξηρου          1
11                                            [ τ α ς          1
12                                    [ π ε π α ν σ ι          1
13                    [ ο τ ι δ ’ ο υ τ ε κ υ κ λ ο ν          1
14                                        και λεπιδες          1
15                                                ε π          1
16                                             λαβειν          1
17                                        [ τ ο δ ’ υ          1
18                                              [ ο υ          1
19                   ουν των πρωτων αιτιων της φυσεως          1
20                                                η δ          1
21                        τριχες και φυλλα και οιωνων          1
22                                              αυτων          1
23                                      ε κ δ ε τ ο υ          1
24         δε των κομητων και του καλουμενου γαλακτος          1
25                                  αι δε περιστασεις          1
26                                    [ ο δ η λ ι ο ς          1
27                                                  ε          1
28                                               ημιν          1
29                                              [ ο σ          1
30                                    δε αστραπης και          1
31                        δε σεισμου και κινησεως γης          1
32                                          πρωτον δε          1
33                              της αλμυροτητος αυτης          1
34        ουν τας εξ αρχης θεσεις και τους ειρημενους          1
35                            μεν ουν υπο πυρος μονον          1
36                          των πεπηγοτων η των υγρων          1
37                                          α λ λ ’ ε          1
38                                δια τουτο εξ αμφοιν          1
39                                                γαρ          1
40                                            τετταρα          1
41                               δε πνευματων λεγωμεν          1
42                               νυκτωρ αιθριας ουσης          1
43                                        [ ε λ κ ω ν          1
44                                        [ ο ω ς δ ε          1
45                              δε της γενεσεως αυτης          1
46                                   δε των υπολοιπων          1
47                        η δε πιονος θυμιασις λιγνυς          1