In [3]:
!pip install psycopg2
import csv
from io import StringIO
import time

import pandas as pd
from sqlalchemy import create_engine

Requirement already satisfied: psycopg2 in c:\users\zhrac\anaconda3\lib\site-packages (2.9.5)

In [18]:
def connect_engine(engine, sql):
    # Return SQL query as a pandas dataframe
    #Reduced redundancy so we didnt have to copy and paste this code within every single statement
    with engine.connect() as conn:
        # Set 1 minute statement timeout (units are milliseconds)
        conn.execute("SET statement_timeout = 60000;")
        df = pd.read_sql(sql, conn)
    
    return df
    
def find_author(engine, name):
    #SQL query gathering all of the information for a specific author
    #Input is limited by 5, but will change upon further testing
    sql = f'''
        SELECT *
        FROM "sentimenttest"
        WHERE author = '{name}'
        LIMIT 5;
    '''
    
    return connect_engine(engine, sql)

def find_word(engine,word):
    #SQL query gathering all of the information for a specific word
    sql = f'''
        SELECT *
        FROM "sentimenttest"
        WHERE aspect = '{word}' AND aspect IS NOT NULL
        LIMIT 5;
    '''
    
    return connect_engine(engine, sql)

def avg_sentiment(engine, author = 'all'):
    #Gathers the average sentiment for a word where it appears everywhere (for all authors)
    if author == 'all':
        sql = f'''
        SELECT author, aspect, AVG(confidence) as avg_sentiment
        FROM "sentimenttest"
        WHERE aspect IS NOT NULL
        GROUP BY aspect
        LIMIT 5;
        
        '''
    #Gathers the average sentiment for a word where it appears within a specific author's text (each author uses different syntax)
    else:
        sql = f'''
        SELECT author, aspect, AVG(confidence) as avg_sentiment
        FROM "sentimenttest"
        WHERE author = '{author}' AND aspect IS NOT NULL
        GROUP BY aspect, author
        ORDER BY aspect DESC
        LIMIT 5;
        '''

    # Return SQL query as a pandas dataframe
    return connect_engine(engine, sql)


def books_per_author(engine):
    #Helpful statistic when comparing who wrote the most books and which words can appear most
    sql = f'''
        SELECT author, COUNT(author) AS num_books, COUNT(aspect) AS num_words
        FROM "sentimenttest"
        GROUP BY author
        ORDER BY num_books DESC, num_words DESC
    '''
    
    # Return SQL query as a pandas dataframe
    return connect_engine(engine, sql)

def highest_words(engine, author):
    #Counts the number of words to see which appear the most (specific or all)
    if author == 'all':
        sql = f'''
            SELECT aspect, COUNT(aspect) AS num_words
            FROM "sentimenttest"
            WHERE aspect IS NOT NULL
            GROUP BY aspect
            ORDER BY num_words DESC
        '''
    else:
        sql = f'''
            SELECT aspect, COUNT(aspect) AS num_words
            FROM "sentimenttest"
            WHERE author = '{author}' AND aspect IS NOT NULL
            GROUP BY aspect, author
            ORDER BY num_words DESC
        '''

    # Return SQL query as a pandas dataframe
    return connect_engine(engine, sql)

def words_per_book(engine, book, group = 'num_words'):
    
    if group == 'num_words':
        
        sql = f'''
            SELECT aspect, COUNT(aspect) AS num_words, AVG(confidence) AS avg_sentiment
            FROM "sentimenttest"
            WHERE aspect IS NOT NULL AND title = '{book}'
            GROUP BY aspect, title
            ORDER BY num_words DESC
        '''
    else:
        sql = f'''
            SELECT aspect, COUNT(aspect) AS num_words, AVG(confidence) AS avg_sentiment
            FROM "sentimenttest"
            WHERE aspect IS NOT NULL AND title = '{book}'
            GROUP BY aspect, title
            ORDER BY avg_sentiment DESC
        '''
    
    return connect_engine(engine, sql)

In [19]:
PG_STRING = 'postgresql://austinstein:v2_3ym92_V72h8UTXcH9WzSBC3tiMmjd@db.bit.io:5432/austinstein/greekandlatintexts'
engine = create_engine(PG_STRING, pool_pre_ping=True)

In [21]:
# SQL for querying an entire table
words_per_book(engine, 'Oratio 10', 'num_words')

                      aspect  num_words  avg_sentiment
0                        μοι          2       0.011417
1                          p          2      -0.829107
2    . π ρ ο κ λ ο ς ο υ κ ο          1       0.668372
3                        106          1      -0.603400
4                        110          1      -0.830043
..                       ...        ...            ...
129                   χρονον          1      -0.926585
130                      ’ ο          1      -0.853912
131                  , η ν ο          1      -0.854035
132          ’ σ υ ν ε τ ο ς          1      -0.812661
133                  . jahrb          1       0.867721

[134 rows x 3 columns]

In [25]:
find_word(engine, 'γλυκυ')

,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Section ID,Text Section,title,author,Translated Text,treepath,aspect,confidence
0,9399,3906,3906,3906,Data/tlg0527tlg008opp-grc2_clean.xml1-0-0-15-1...,\n\t\t\tκαὶ ἀπὸ ἰσχυροῦ γλυκύ ;\n\t\t,Judices (Cod. Alexandrinus),Septuaginta,None,27-1-0-0-15-13-0-1,γλυκυ,0.993517